:root {
  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: 100vh;
  width: 100%;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  height: calc(100% - 50px);
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.msger p {
  text-align: center;
}


